--allman false
--binarygrouping 4,8
--closingparen balanced
--commas inline
--comments indent
--decimalgrouping 3,6
--elseposition same-line
--empty void
--exponentcase uppercase
--exponentgrouping enabled
--fractiongrouping enabled
--header ignore
--hexgrouping 4,8
--hexliteralcase uppercase
--ifdef indent
--indent 4
--indentcase false
--linebreaks lf
--octalgrouping 4,8
--operatorfunc spaced
--patternlet hoist
--ranges spaced
--self remove
--semicolons never
--stripunusedargs always
--trimwhitespace always
--wraparguments beforefirst
--wrapcollections preserve
